Clients/Service References/MiyazakiReference/HayaoMiyazakiMovies.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="WriteYearReturnMovie">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inputYear" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WriteYearReturnMovieResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WriteYearReturnMovieResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WriteYearReturnMovieSoapIn">
    <wsdl:part name="parameters" element="tns:WriteYearReturnMovie" />
  </wsdl:message>
  <wsdl:message name="WriteYearReturnMovieSoapOut">
    <wsdl:part name="parameters" element="tns:WriteYearReturnMovieResponse" />
  </wsdl:message>
  <wsdl:portType name="HayaoMiyazakiMoviesSoap">
    <wsdl:operation name="WriteYearReturnMovie">
      <wsdl:input message="tns:WriteYearReturnMovieSoapIn" />
      <wsdl:output message="tns:WriteYearReturnMovieSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HayaoMiyazakiMoviesSoap" type="tns:HayaoMiyazakiMoviesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WriteYearReturnMovie">
      <soap:operation soapAction="http://tempuri.org/WriteYearReturnMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HayaoMiyazakiMoviesSoap12" type="tns:HayaoMiyazakiMoviesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WriteYearReturnMovie">
      <soap12:operation soapAction="http://tempuri.org/WriteYearReturnMovie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HayaoMiyazakiMovies">
    <wsdl:port name="HayaoMiyazakiMoviesSoap" binding="tns:HayaoMiyazakiMoviesSoap">
      <soap:address location="http://localhost:46398/HayaoMiyazakiMovies.asmx" />
    </wsdl:port>
    <wsdl:port name="HayaoMiyazakiMoviesSoap12" binding="tns:HayaoMiyazakiMoviesSoap12">
      <soap12:address location="http://localhost:46398/HayaoMiyazakiMovies.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>