Clients/Service References/NameDayReference/NameDay.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InputNameReturnDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inputname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InputNameReturnDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InputNameReturnDateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InputNameReturnDateSoapIn">
    <wsdl:part name="parameters" element="tns:InputNameReturnDate" />
  </wsdl:message>
  <wsdl:message name="InputNameReturnDateSoapOut">
    <wsdl:part name="parameters" element="tns:InputNameReturnDateResponse" />
  </wsdl:message>
  <wsdl:portType name="NameDaySoap">
    <wsdl:operation name="InputNameReturnDate">
      <wsdl:input message="tns:InputNameReturnDateSoapIn" />
      <wsdl:output message="tns:InputNameReturnDateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NameDaySoap" type="tns:NameDaySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InputNameReturnDate">
      <soap:operation soapAction="http://tempuri.org/InputNameReturnDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NameDaySoap12" type="tns:NameDaySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InputNameReturnDate">
      <soap12:operation soapAction="http://tempuri.org/InputNameReturnDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NameDay">
    <wsdl:port name="NameDaySoap" binding="tns:NameDaySoap">
      <soap:address location="http://localhost:46398/NameDay.asmx" />
    </wsdl:port>
    <wsdl:port name="NameDaySoap12" binding="tns:NameDaySoap12">
      <soap12:address location="http://localhost:46398/NameDay.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>